body {
    background-color: #313638;
    color: white;
    font-family: Roboto Mono;
    text-align: center;
    font-size: 1.4rem;
}

h1, h2, h3 {
    font-weight: 200;
}

h2, h3 {
    margin: 10;
}